## Import new dataset

In [1]:
sc

''

In [3]:
data=sc.textFile("complete.csv")
data.take(5)

NameError: name 'sc' is not defined

In [3]:
data

complete.csv MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [4]:
data.count()

88679

### Filter the header

In [5]:
header=data.first()
header

'datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude'

In [6]:
dataWOheader=data.filter(lambda x: x != header)
dataWOheader.take(5)

['10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 1949-50. It occurred after a Boy Scout meeting in the Baptist Church. The Baptist Church sit,4/27/2004,29.8830556,-97.9411111',
 '10/10/1949 21:00,lackland afb,tx,,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX.  Lights racing across the sky &amp; making 90 degree turns on a dime.,12/16/2005,29.38421,-98.581082',
 '10/10/1955 17:00,chester (uk/england),,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 England,1/21/2008,53.2,-2.916667',
 '10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving the only Edna theater at about 9 PM&#44...we had our bikes and I took a different route home,1/17/2004,28.9783333,-96.6458333',
 '10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/attack aircraft on a solo night exercise&#44 I was at 50&#44000&#39 in a &quot;clean&quot; aircraft (no ordinan,1/22/2004,21.4180556,-157.8036111']

In [7]:
dataWOheader.count()

88678

In [8]:
dataWOheader.map(lambda x:x.split(",")).take(5)

[['10/10/1949 20:30',
  'san marcos',
  'tx',
  'us',
  'cylinder',
  '2700',
  '45 minutes',
  'This event took place in early fall around 1949-50. It occurred after a Boy Scout meeting in the Baptist Church. The Baptist Church sit',
  '4/27/2004',
  '29.8830556',
  '-97.9411111'],
 ['10/10/1949 21:00',
  'lackland afb',
  'tx',
  '',
  'light',
  '7200',
  '1-2 hrs',
  '1949 Lackland AFB&#44 TX.  Lights racing across the sky &amp; making 90 degree turns on a dime.',
  '12/16/2005',
  '29.38421',
  '-98.581082'],
 ['10/10/1955 17:00',
  'chester (uk/england)',
  '',
  'gb',
  'circle',
  '20',
  '20 seconds',
  'Green/Orange circular disc over Chester&#44 England',
  '1/21/2008',
  '53.2',
  '-2.916667'],
 ['10/10/1956 21:00',
  'edna',
  'tx',
  'us',
  'circle',
  '20',
  '1/2 hour',
  'My older brother and twin sister were leaving the only Edna theater at about 9 PM&#44...we had our bikes and I took a different route home',
  '1/17/2004',
  '28.9783333',
  '-96.6458333'],
 ['10/10/1960 20:00',
  'kaneohe',
  'hi',
  'us',
  'light',
  '900',
  '15 minutes',
  'AS a Marine 1st Lt. flying an FJ4B fighter/attack aircraft on a solo night exercise&#44 I was at 50&#44000&#39 in a &quot;clean&quot; aircraft (no ordinan',
  '1/22/2004',
  '21.4180556',
  '-157.8036111']]

#### Get the header names

In [9]:
fields=header.replace(" ","_").replace("/","_").replace("(","").replace(")","").split(",")
fields

['datetime',
 'city',
 'state',
 'country',
 'shape',
 'duration_seconds',
 'duration_hours_min',
 'comments',
 'date_posted',
 'latitude',
 'longitude']

In [10]:
from collections import namedtuple

#### Create a class for the data

In [11]:
UFO=namedtuple('UFO',fields,verbose=True)

from builtins import property as _property, tuple as _tuple
from operator import itemgetter as _itemgetter
from collections import OrderedDict

class UFO(tuple):
    'UFO(datetime, city, state, country, shape, duration_seconds, duration_hours_min, comments, date_posted, latitude, longitude)'

    __slots__ = ()

    _fields = ('datetime', 'city', 'state', 'country', 'shape', 'duration_seconds', 'duration_hours_min', 'comments', 'date_posted', 'latitude', 'longitude')

    def __new__(_cls, datetime, city, state, country, shape, duration_seconds, duration_hours_min, comments, date_posted, latitude, longitude):
        'Create new instance of UFO(datetime, city, state, country, shape, duration_seconds, duration_hours_min, comments, date_posted, latitude, longitude)'
        return _tuple.__new__(_cls, (datetime, city, state, country, shape, duration_seconds, duration_hours_min, comments, date_posted, latitude, longitude))

    @classmethod
    def _make(cls, iterable, new=tuple.__new__, len=len):
        'Make a new UFO object from a sequence or iterable'
        result = new(cls, iterable)
        if len(result) != 11:
            raise TypeError('Expected 11 arguments, got %d' % len(result))
        return result

    def _replace(_self, **kwds):
        'Return a new UFO object replacing specified fields with new values'
        result = _self._make(map(kwds.pop, ('datetime', 'city', 'state', 'country', 'shape', 'duration_seconds', 'duration_hours_min', 'comments', 'date_posted', 'latitude', 'longitude'), _self))
        if kwds:
            raise ValueError('Got unexpected field names: %r' % list(kwds))
        return result

    def __repr__(self):
        'Return a nicely formatted representation string'
        return self.__class__.__name__ + '(datetime=%r, city=%r, state=%r, country=%r, shape=%r, duration_seconds=%r, duration_hours_min=%r, comments=%r, date_posted=%r, latitude=%r, longitude=%r)' % self

    def _asdict(self):
        'Return a new OrderedDict which maps field names to their values.'
        return OrderedDict(zip(self._fields, self))

    def __getnewargs__(self):
        'Return self as a plain tuple.  Used by copy and pickle.'
        return tuple(self)

    datetime = _property(_itemgetter(0), doc='Alias for field number 0')

    city = _property(_itemgetter(1), doc='Alias for field number 1')

    state = _property(_itemgetter(2), doc='Alias for field number 2')

    country = _property(_itemgetter(3), doc='Alias for field number 3')

    shape = _property(_itemgetter(4), doc='Alias for field number 4')

    duration_seconds = _property(_itemgetter(5), doc='Alias for field number 5')

    duration_hours_min = _property(_itemgetter(6), doc='Alias for field number 6')

    comments = _property(_itemgetter(7), doc='Alias for field number 7')

    date_posted = _property(_itemgetter(8), doc='Alias for field number 8')

    latitude = _property(_itemgetter(9), doc='Alias for field number 9')

    longitude = _property(_itemgetter(10), doc='Alias for field number 10')

### Copy the data contents into this class

In [12]:
import csv
from io import StringIO

In [13]:
def parse(row):
    reader=csv.reader(StringIO(row))
    row=next(reader)
    return UFO(*row)

In [14]:
ufoSighting=dataWOheader.map(parse)

In [15]:
ufoSighting.first()

UFO(datetime='10/10/1949 20:30', city='san marcos', state='tx', country='us', shape='cylinder', duration_seconds='2700', duration_hours_min='45 minutes', comments='This event took place in early fall around 1949-50. It occurred after a Boy Scout meeting in the Baptist Church. The Baptist Church sit', date_posted='4/27/2004', latitude='29.8830556', longitude='-97.9411111')

In [16]:
ufoSighting.take(5)

[UFO(datetime='10/10/1949 20:30', city='san marcos', state='tx', country='us', shape='cylinder', duration_seconds='2700', duration_hours_min='45 minutes', comments='This event took place in early fall around 1949-50. It occurred after a Boy Scout meeting in the Baptist Church. The Baptist Church sit', date_posted='4/27/2004', latitude='29.8830556', longitude='-97.9411111'),
 UFO(datetime='10/10/1949 21:00', city='lackland afb', state='tx', country='', shape='light', duration_seconds='7200', duration_hours_min='1-2 hrs', comments='1949 Lackland AFB&#44 TX.  Lights racing across the sky &amp; making 90 degree turns on a dime.', date_posted='12/16/2005', latitude='29.38421', longitude='-98.581082'),
 UFO(datetime='10/10/1955 17:00', city='chester (uk/england)', state='', country='gb', shape='circle', duration_seconds='20', duration_hours_min='20 seconds', comments='Green/Orange circular disc over Chester&#44 England', date_posted='1/21/2008', latitude='53.2', longitude='-2.916667'),
 UFO(datetime='10/10/1956 21:00', city='edna', state='tx', country='us', shape='circle', duration_seconds='20', duration_hours_min='1/2 hour', comments='My older brother and twin sister were leaving the only Edna theater at about 9 PM&#44...we had our bikes and I took a different route home', date_posted='1/17/2004', latitude='28.9783333', longitude='-96.6458333'),
 UFO(datetime='10/10/1960 20:00', city='kaneohe', state='hi', country='us', shape='light', duration_seconds='900', duration_hours_min='15 minutes', comments='AS a Marine 1st Lt. flying an FJ4B fighter/attack aircraft on a solo night exercise&#44 I was at 50&#44000&#39 in a &quot;clean&quot; aircraft (no ordinan', date_posted='1/22/2004', latitude='21.4180556', longitude='-157.8036111')]

In [17]:
ufoSighting.first().city

'san marcos'

In [18]:
ufoSighting.map(lambda x:x.country).countByValue()

defaultdict(int,
            {'': 12365,
             'au': 593,
             'ca': 3266,
             'de': 112,
             'gb': 2050,
             'us': 70292})

In [19]:
newUfo=ufoSighting.filter(lambda x: not (x.country==""))

In [20]:
newUfo.map(lambda x:x.country).countByValue()

defaultdict(int, {'au': 593, 'ca': 3266, 'de': 112, 'gb': 2050, 'us': 70292})

In [21]:
newUfo.first().date_posted[-4:]

'2004'

In [22]:
newUfo.filter(lambda x:x.country=='us')\
    .map(lambda x:x.date_posted[-4:]).countByValue()

defaultdict(int,
            {'1998': 801,
             '1999': 4156,
             '2000': 2495,
             '2001': 3018,
             '2002': 3506,
             '2003': 3894,
             '2004': 4266,
             '2005': 4450,
             '2006': 3646,
             '2007': 4195,
             '2008': 4623,
             '2009': 5139,
             '2010': 3935,
             '2011': 5115,
             '2012': 7365,
             '2013': 6873,
             '2014': 2815})

In [23]:
train_data,test_data=newUfo.randomSplit([.8,.2],seed=1234)

In [24]:
newUfo

PythonRDD[15] at RDD at PythonRDD.scala:48